# 필수 인증 토큰
OPENAI_API_KEY=your-key-here
GITHUB_TOKEN=your-token-here
USER_NAME=your-github-username
DISCORD_WEBHOOK_URL=your-discord-webhook
SLACK_WEBHOOK_URL=your-slack-webhook

# GitHub에서 수집할 파일 확장자
GITHUB_EXTENSIONS=.js,.mjs,.jsx,.ts

# Semgrep 규칙 (기본값: 자바스크립트)
SEMGREP_RULE=p/javascript

# Server URL
LOG_API_URL=https://autofic-core-t85x.onrender.com